* {
  box-sizing: border-box;
}

:root {
  --border-shadow: 3px solid #696969;
  --border-light: 3px solid #fffdfe;

  --pointer: url(http://www.rw-designer.com/cursor-extern.php?id=151727), auto;
  --text: url(http://www.rw-designer.com/cursor-extern.php?id=155791), auto;
  --click: url(http://www.rw-designer.com/cursor-extern.php?id=151740), auto;
}

body {
  background-color: #6c9ebb;
  font-family: monospace;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 16px;
  cursor: var(--pointer);
}

main {
  height: 100vh;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOX STYLING */
.box {
  background-color: #b3b3b3;
  cursor: pointer;
  padding: 10px 15px;
  border-right: var(--border-shadow);
  border-bottom: var(--border-shadow);
  border-left: var(--border-light);
  border-top: var(--border-light);

  display: none;
}
.box:hover,
.terminal-controls > p:hover {
  background-color: #a0a0a0;
  border-top: var(--border-shadow);
  border-left: var(--border-shadow);
  border-right: var(--border-light);
  border-bottom: var(--border-light);
  cursor: var(--click);
}

/* TERMINAL */
.terminal {
  background-color: #b3b3b3;
  padding: 5px 5px;
  border-right: var(--border-shadow);
  border-bottom: var(--border-shadow);
  border-left: var(--border-light);
  border-top: var(--border-light);
  width: 800px;
  margin: 0;
}
.terminal-header,
.terminal-controls {
  display: flex;
  margin: 2px;
}
.terminal-header {
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #050356, #4a7eae);
  padding: 3px 5px;
}
.terminal-controls {
  gap: 4px;
}
.terminal-title {
  color: #fffdfe;
  margin: 2px;
  padding-left: 10px;
  font-size: 0.8rem;
}
.terminal-controls > p {
  background-color: #b3b3b3;
  border-right: var(--border-shadow);
  border-bottom: var(--border-shadow);
  border-left: var(--border-light);
  border-top: var(--border-light);
  width: 25px;
  text-align: center;
  font-weight: 700;
  margin: 0px;
  font-size: 0.8rem;
}
.terminal-body {
  height: 300px;
  background-color: black;
  border-right: var(--border-light);
  border-bottom: var(--border-light);
  border-left: var(--border-shadow);
  border-top: var(--border-shadow);
  margin-bottom: 3px;
  margin-top: 6px;
  color: #fffdfe;
  padding: 8px 8px;
  font-size: smaller;
}
.default-text {
  margin: 0;
}
.instructions {
  color: #f9a5a5;
}
.terminal-input {
  background-color: black;
  border: none;
  outline: none;
  font-family: monospace;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 13px;
  color: #f9f1a5;
  width: 50%;
  cursor: var(--text);
}
#terminal-input::before {
  content: "|"; /* Use a vertical bar as the cursor */
  color: #f9f1a5;
  animation: blink 1s infinite; /* Make the cursor blink */
}
@keyframes blink {
  0% {
    opacity: 0;
  } /* Set the cursor to be invisible at the start */
  50% {
    opacity: 1;
  } /* Set the cursor to be visible in the middle */
  100% {
    opacity: 0;
  } /* Set the cursor to be invisible at the end */
}
